<h1>Wikinimous - Article</h1>

<h3><%= @article.title %>
  <%= link_to edit_article_path do %>
    <i class="far fa-edit"></i>
  <% end %>
  <%= link_to article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</h3>

<p>
  <%= @article.content %>
  <%= link_to articles_path do %>
    <i class="fas fa-reply-all"></i>
  <% end %>
</p>
